*{
	padding:0;
	margin:0;
	font-family: "Roboto", sans-serif;

}
.container{
	width: 1500px;
	margin: 0 auto;
}
body{
	background-color: #CC66CC;
}
header{
	width:1500px;
	height:90px;
	color: black ;
	margin: 0 auto;
	text-align: center;
	background-color: 000099;
}
div{
	height: 50px;
}
nav{
	height: 50px;
	width: 1500 px;
	background: #DDDDDD
}
nav .Menu ul{
	list-style: none;
}
nav .Menu ul li {
	float: left;
	line-height: 35px;
	margin-left: 50px;
	padding: 0 20px;
}
nav .Menu ul li a{
	color: 	#CC3300;
	font-size: 16px;
	text-decoration: none;
}
nav .Search ul {
	line-height: 35px;
	margin-right: 300px;
	margin-top:-45px;
	float:right;
}
div.Text{
	padding: 2%;
	top: 10px;
	color: #660099;
	bottom: -200ox;
}
div.list{
	color: #000000;
}
article .picture .list{
	bottom: 100px;
	width:17%;
	float:left;
	padding: 2%;
	top:50px;

}

article .text2{
	float:left;
	width:20%;
	padding:2%;
	padding-top: 18%;
	color: 	#FF9900;
}
article .music .list1{
	position: absolute;
	left:30px;
	bottom:-300px;
	top:700px;
	text-align: center;
}
article .music .list2{
	position: absolute;
	bottom:-300px;
	top:690px;
	left:700px;
	text-align: center;
}

article .music .list3{
	position: absolute;
	bottom:-600px;
	top:1000px;
	left:30px;
	text-align: center;
}
article .music .list4{
	position: absolute;
	bottom:-300px;
	top:1000px;
	left:700px;
	text-align: center;
}
